body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #354458;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    margin: 15px;
    padding: 20px;
    background: white;
}

footer {
    background: #354458;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
